
<%= "#{car.car_model.make} #{car.car_model}" %>
<%= car.price %>
<p><%= "Range: #{car.range}" %></p>
<p><%= "Colours:"%></p>
<ul>
<% car.colours.each do |colour| %>
  <li><%= colour %></li>
<% end %>
</ul>
<%= image_tag(car.photo) %>
